{% extends 'base.html'%}

{% block content %}
<div style="text-align:center" xmlns="http://www.w3.org/1999/html">
        <h2>iOil, um facilitador com foco na sustentabilidade do descarte de óleo usado</h2>
    </div>

<div class="w-auto p-3 text-justify h5" >Diariamente, são descartados – indevidamente - óleos comestíveis residuais de residências, indústrias e estabelecimentos comerciais nos
    sistemas de esgoto, causando danos nas redes de saneamento e poluindo os recursos hídricos.<p></p>
A resolução do CONAMA (Conselho Nacional do Meio Ambiente) estipula o limite máximo da concentração de óleo que pode estar presente no esgoto lançado nos corpos d’água: 50 mg/L.
    A densidade do óleo é menor do que da água, fazendo com que o óleo fique na superfície, assim a água fica menos límpida, obstruindo a passagem de luz e oxigênio e comprometendo
    os ciclos de vida aquáticos, ocasionando assim a morte de peixes, plantas e micro-organismos. Além disso, o óleo de cozinha usado impermeabiliza o solo e entope encanamentos
    contribuindo para as enchentes. <p></p>
    A Política Nacional de Resíduos Sólidos (PNRS) e a reciclagem têm o objetivo de classificar, orientar e dar o destino ambientalmente correto para os resíduos, e se
    possível reintroduzi-los novamente ao mercado na forma de matérias-primas de baixo custo. O óleo de cozinha usado é um desses resíduos. Considerado um resíduo sólido, através
    de políticas públicas adequadas e/ou iniciativas das empresas privadas, o óleo de cozinha usado poderia ter sua logística reversa bem estruturada e ser reutilizado como
    matéria-prima na fabricação de diversos produtos, tais como biodiesel, sabão e detergentes, biossurfactantes, entre outros.<p></p>
Um dos objetivos desse projeto é auxiliar na elucidação dessa logística reversa, conectando usuários que dispõe do óleo para descartar com as empresas recicladoras.<p></p><BR>
    <P>Veja como fazer o descarte de forma adequada:</p>
<p>1 - Espere o óleo esfriar.</P>
<p>2 - Despeje o óleo numa garrafa pet com um funil.</p>
<p>3 - Feche a garrafa.</p>
<p>4 - Assim que possivel envie a garrafa pet para o ponto de coleta.</P>

</div>

<div class="row">
  <div class="coluna">
      <img src="../static/css/Pet.png" width="460" height="345" style="width:100%">
  </div>
  <div class="coluna">
      <img src="../static/css/Reciclar.png" width="460" height="345" style="width:100%">
  </div>
  <div class="coluna">
    <img src="../static/css/Tubulação.png"width="560" height="345" style="width:100%">
  </div></div>


<style>
.coluna{
  float: left;
  width: 33.33%;
.row::after {
  content: " ";
  clear: both;
  display: table;
}
</style>

{% endblock %}