{% extends 'base.html'%}

{% block content %}
    <div style="text-align:center">
        <h2>iOil, um facilitador com foco na sustentabilidade do descarte de óleo usado</h2>
    </div>

<div class="w-auto p-3 text-justify h5" >A partir do tema proposto, iniciamos nossas pesquisas em busca de um problema em que fosse possível criar uma solução utilizando um framework web.
    Nessas pesquisas, identificamos uma dificuldade no descarte de resíduos de óleo usado pela população. Nosso objetivo, portanto, passou a focar em criar uma ferramenta onde
    possamos espalhar, cada vez mais, pontos de coletas de óleo usados, e conscientizar a população sobre a importância do descarte correto.
    <p></p>Dessa forma, iniciamos o levantamento através de uma pesquisa realizada em formulário Google Forms (Apêndice A) com a população, em geral, e também uma
    entrevista realizada através do WhatsApp com uma empresa que faz a coleta de óleo usado em grandes empresas e até mesmo em residências. Essas pesquisas foram feitas de forma
    virtual devido ao período da pandemia do COVID-19. Além disso, pelo grupo ser formado por membros de diversas cidades da região metropolitana de Campinas, foi definido o foco
    da pesquisa nessa região geográfica.<p></p>
    Baseando nos resultados dessa pesquisa realizada com a população em geral, pode-se observar que 84,5% dos entrevistados têm conhecimento dos danos causados com o descarte
    incorreto do óleo usado. Porém apenas 70,9% dos entrevistados direciona o óleo usado para um ponto de coleta onde o destino é ambientalmente correto. 96,1% dos entrevistados
    declararam que se sentiriam motivados a separar o óleo usado se houvesse um aplicativo ou site que informasse o ponto de coleta mais próximo da sua residência e 97,1% dos
    entrevistados se sentiriam motivados se o aplicativo ou site informasse quando uma pessoa estaria passando em sua residência para retirar o óleo usado.<p></p>
    Na entrevista realizada através do WhatsApp com a empresa coletora, o responsável pela empresa nos elucidou sobre o destino do óleo coletado: após um processo de purificação,
    o óleo usado é utilizado como matéria-prima de vários produtos como ração, massa de vidro e, principalmente, biodiesel. Mencionou que, atualmente, existe a coleta de óleo usado
    em residências, porém é necessária uma maior conscientização da população para não descartar o óleo usado em locais indevidos. Este problema passou a ser a a motivação do grupo,
    pois foi possível perceber uma oportunidade de redução de poluição ambiental.<p></p>
    Nesse projeto, portanto, iremos estudar as ferramentas de framework web, banco de dados e controle de versão. Através de todas as as ferramentas, vamos trabalhar de forma que
    possamos criar uma solução prática e objetiva para este problema.
</div>

<div class="row">
  <div class="coluna">
      <img src="../static/css/Pet.png" width="460" height="345" style="width:100%">
  </div>
  <div class="coluna">
      <img src="../static/css/Reciclar.png" width="460" height="345" style="width:100%">
  </div>
  <div class="coluna">
    <img src="../static/css/Tubulação.png"width="560" height="345" style="width:100%">
  </div></div>


<style>
.coluna{
  float: left;
  width: 33.33%;
.row::after {
  content: " ";
  clear: both;
  display: table;
}
</style>

{% endblock %}