{% extends 'base.html'%}

{% block content %}
    <div style="text-align:center">
        <h2>iOil, um facilitador com foco na sustentabilidade do descarte de óleo usado</h2> <BR>

        <h4>Projeto Integrador Eixo da Computação da Universidade Virtual do Estado de São Paulo (UNIVESP)</h4> <BR><BR>

        <h4>Orientador: José Luís Garcia Moreno</h4> <BR><BR>

        <h4>Alunos participantes</h4> <br>

        <h4>Livia Sabbagh - RA: 2004458</h4><br>

        <h4>Milton Katsumi Kobaicy - RA 2001645 </h4> <br>

        <h4>Pâmela Vicente de Souza Silva - RA: 2011580</h4><br>

        <h4>Renata Parruca Sakata - RA 2007051</h4>
    </div>



{% endblock %}